<style>
    .getPatientBtn {
        margin-left: 20px;
        border-radius: 3px;
        background: linear-gradient(to bottom, #A1D030, #88af28);
        background-color: #88af28;
        border: #88af28 1px solid;
        padding: 6px 20px 7px;
        display: inline-block;
        line-height: 1.2em;
        color: white;
        cursor: pointer;
        min-width: 0;
        max-width: 300px;
        text-decoration: none;
        max-width: 250px;
        min-width: 0;
        margin-right: 10px;
    }

    .getPatientBtn:hover {
        background: linear-gradient(to bottom, #88af28, #A1D030);
    }
</style>
<div class="text-right">
   <div style="margin-top: 10px">
    <span class="regCount" style="float: right; font-size: 16px; height: 25px;">User : <b>{{providerName}}</b> | Paid :
        <b>{{totalReg[1]
            || 0}}</b> | Free : <b>{{totalReg[2] || 0}}</b> | Total : <b>{{totalReg[0] || 0}}</b></span>
   </div>
    <div ng-show="tokenEnable" style="float: right; font-size: 16px; margin: 0px 10px;height: 40px;position: relative;z-index: 999;bottom: 5px;">
        <span ><b>Select Counter :</b></span>
        <select style="min-width: 197px; height: 25px;" ng-change="onCounterChange(selectedCounter)" ng-model="selectedCounter" ng-options="counter.name for counter in counters">
        </select>
        <span > | Last Serial: <b>{{lastSerial}}</b> |</span>
    </div>
</div>
<div class="reg-body-wrapper">
    <div class="simple-form-ui new-patient">
        <form name="myForm" class="form-horizontal well" single-submit="create()">
            <div class="box-container box-container-default">
                <legend class="registraion_legend first-registraion_legend">
                    <span class="mylegend"><strong>{{::'REGISTRATION_LABEL_NEW_PATIENT' | translate}}</strong></span>
                </legend>
                <section class="clearfix">
                    <div class="photo-container-wrapper" ng-if="!disablePhotoCapture">
                        <span class="pull-right photo-container">
                            <img class="patient-image" ng-src="{{patient.image}}"
                                fallback-src="../images/blank-user.gif">
                            <div ng-model="patient.image" capture-photo="" class="capture-photo-btn"></div>
                        </span>
                    </div>
                </section>
                <section>
                    <article class="form-field patient-name-wrapper">
                        <div class="field-attribute">
                            <label for="patientName">National ID</label>
                        </div>
                        <div class="field-value" id="nationalId">
                            <input type="text" id="nationalId" ng-model="patient.nationalId" pattern-validate>
                        </div>
                        <div class="field-attribute">
                            <label for="patientName">Birth Registration Number</label>
                        </div>
                        <div class="field-value" id="birthRegistrationId">
                            <input type="text" id="birthRegistrationId" ng-model="patient.birthRegistrationId"
                                pattern-validate>
                        </div>

                    </article>
                    <section class="age-wrapper">
                        <div style="display: flex;" ng-if="::!dobMandatory">
                            <div>
                                <ng-include src="'views/dob.html'"></ng-include>
                            </div>
                            <div>
                                <ng-include src="'views/age.html'"></ng-include>
                            </div>

                        </div>
                        <div ng-if="::dobMandatory">
                            <ng-include src="'views/age.html'"></ng-include>
                            <ng-include src="'views/dob.html'"></ng-include>
                        </div>
                    </section>
                    <span ng-hide="getPatientBtnHide" style="position: relative;left: 220px; margin: 5px 0px;"
                        ng-click="getPatientInfo()" class="getPatientBtn">Get Patient Info</span>
                    <article class="form-field existing-patient">
                        <div class="field-attribute">
                            <label class="control-label" for="patientID">{{::
                                patient.primaryIdentifier.identifierType.name}}
                                <span
                                    ng-show="::patient.primaryIdentifier.identifierType.required && !patient.primaryIdentifier.hasIdentifierSources()"
                                    class="asterick">*</span>
                            </label>
                        </div>
                        <div ng-show="::(patient.primaryIdentifier.hasIdentifierSources() && !patient.primaryIdentifier.hasIdentifierSourceWithEmptyPrefix())"
                            class="field-value" id="patientID">
                            <select id="identifierPrefix" ng-model="patient.primaryIdentifier.selectedIdentifierSource"
                                ng-options="identifierSource.prefix for identifierSource in ::patient.primaryIdentifier.identifierType.identifierSources"
                                ng-change="patient.primaryIdentifier.generate()" required>
                            </select>
                        </div>

                        <div class="field-value field-value-has-identifier">
                            <input type="text" id="registrationNumber"
                                ng-model="patient.primaryIdentifier.registrationNumber"
                                placeholder="{{:: patient.primaryIdentifier.identifierType.description}}"
                                non-blank="patient.primaryIdentifier.isIdentifierRequired()" pattern-validate
                                ng-change="patient.primaryIdentifier.generate()"
                                focus-on="patient.primaryIdentifier.hasOldIdentifier"
                                ng-show="patient.primaryIdentifier.hasOldIdentifier || !patient.primaryIdentifier.hasIdentifierSources()">
                            <div ng-show="::patient.primaryIdentifier.hasIdentifierSources() && showEnterID" class="fl">
                                <div class="field-attribute hasOldIdentifier-field-attribute">
                                    <label for="hasOldIdentifier"
                                        class="control-label">{{::'REGISTRATION_LABEL_ENTER_ID'
                                        | translate}}</label>
                                </div>
                                <div class="field-value">
                                    <input class="input-label-inline" ng-show="::showEnterID" type="checkbox"
                                        id="hasOldIdentifier" ng-model="patient.primaryIdentifier.hasOldIdentifier"
                                        ng-change="patient.primaryIdentifier.clearRegistrationNumber()">
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
            <div ng-include="'views/patientcommon.html'"></div>
            <patient-action></patient-action>
        </form>
        <br>
    </div>
</div>