<section class="reg-search-wrapper">
    <div style="display: flex;">
        <article style="width: 47%;border-right: 2px dotted #ccc;" class="search-seperator-l"
            ng-if="::patientIdentifierSearchConfig.show">
            <form name="searchByIdForm" ng-submit="searchById()" class="simple-form-ui clearfix">
                <div class="search-patient-id fl">
                    <div>
                        <div class="reg-srch-btn fl">
                            <label for="registrationNumber"><strong>Patient ID</strong></label>
                            <input tabindex="2" class="fl" type="text" ng-model="searchParameters.registrationNumber"
                                focus-me="true" placeholder="{{ ::'REGISTRATION_LABEL_ENTER_ID' | translate}}">
                            <button style="margin: 0px 10px 0px 5px" tabindex="3" ng-click="idPreference('patientID')"
                                type="submit" ng-disabled="!searchParameters.registrationNumber">{{
                                ::'REGISTRATION_LABEL_SEARCH' | translate}}</button>
                        </div>
                        <div class="reg-srch-btn fl">
                            <label for="registrationNumber"><strong>Health ID</strong></label>
                            <input tabindex="2" class="fl" type="text" id="healthID"
                                ng-model="searchParameters.healthID" placeholder="Enter Health ID">
                            <button style="margin: 0px 10px 0px 5px" tabindex="3" ng-click="idPreference('HID')"
                                type="submit" ng-disabled="!searchParameters.healthID">{{
                                ::'REGISTRATION_LABEL_SEARCH' | translate}}</button>
                        </div>
                        <div class="reg-srch-btn fl">
                            <label for="registrationNumber"><strong>NID</strong></label>
                            <input tabindex="2" class="fl" type="text" id="nid" ng-model="searchParameters.nid"
                                placeholder="Enter NID">
                            <button style="margin: 0px 10px 0px 5px" tabindex="3" ng-click="idPreference('NID')"
                                type="submit" ng-disabled="!searchParameters.nid">{{
                                ::'REGISTRATION_LABEL_SEARCH' | translate}}</button>
                        </div>
                        <div class="reg-srch-btn fl">
                            <label for="registrationNumber"><strong>BRN</strong></label>
                            <input tabindex="2" class="fl" type="text" id="brn" ng-model="searchParameters.brn"
                                placeholder="Enter BRN">
                            <button style="margin: 0px 10px 0px 5px" tabindex="3" ng-click="idPreference('BRN')"
                                type="submit" ng-disabled="!searchParameters.brn">{{
                                ::'REGISTRATION_LABEL_SEARCH' | translate}}</button>
                        </div>
                        <div class="reg-srch-btn fl">
                            <label for="registrationNumber"><strong>Phone</strong></label>
                            <input tabindex="2" class="fl" type="text" id="mobile"
                                ng-model="searchParameters.phoneNumber" placeholder="Enter Mobile No.">
                            <button style="margin: 0px 10px 0px 5px" tabindex="3" ng-click="idPreference('phoneNumber')"
                                type="submit" ng-disabled="!searchParameters.phoneNumber">{{
                                ::'REGISTRATION_LABEL_SEARCH' | translate}}</button>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>

            </form>
        </article>
        <section style="width: 53%; padding-left: 4px;" class="reg-search">

            <article style="width: 100%;" class="search-seperator-r">
                <form name="searchByNameForm" ng-submit="searchPatients()" class="simple-form-ui">
                    <article class="fl">
                        <label for="name"><strong>{{ ::'REGISTRATION_LABEL_NAME' | translate}}</strong></label>
                        <input tabindex="4" type="text" id="name" ng-model="searchParameters.name"
                            placeholder="{{ ::'REGISTRATION_LABEL_ENTER_NAME' | translate}}">
                    </article>
                    <article class="fl" ng-if="::customAttributesSearchConfig.show">
                        <label for="name"><strong>{{::customAttributesSearchConfig.label}}</strong></label>
                        <input tabindex="5" type="text" id="customAttribute" ng-model="searchParameters.customAttribute"
                            placeholder="{{::customAttributesSearchConfig.placeholder}}">
                    </article>
                    <article class="fl" ng-if="::addressSearchConfig.show">
                        <label for="name"><strong>{{::addressSearchConfig.label}}</strong></label>
                        <input tabindex="6" type="text" id="addressFieldValue"
                            ng-model="searchParameters.addressFieldValue"
                            placeholder="{{::addressSearchConfig.placeholder}}">
                    </article>

                    <article class="fl" ng-show="::programAttributesSearchConfig.show">
                        <label for="name"><strong>{{ ::programAttributesSearchConfig.label | translate}}</strong></label>
                        <input tabindex="7" type="text" id="programAttribute"
                            ng-model="searchParameters.programAttributeFieldValue"
                            placeholder="{{ ::programAttributesSearchConfig.placeholder}}">
                    </article>

                    <article class="fl">
                        <div class="reg-srch-btn">
                            <button tabindex="8" type="submit" ng-disabled="disableSearchButton()">{{
                                ::'REGISTRATION_LABEL_SEARCH' | translate}}</button>
                        </div>
                    </article>
                </form>

            </article>
        </section>
    </div>

    <div class="note-container no-search-results" ng-if="noResultsMessage">
        <div class="note warning">
            <div class="text">
                <p>{{noResultsMessage | translate:patientIdentifier }}</p> <button style="margin-top:10px ;"><a
                        href="/bahmni/registration/#/patient/new">Create New</a></button>
            </div>
        </div>
    </div>

    <div ng-if="resultsPresent()" infinite-scroll="nextPage()" infinite-scroll-immediate-check="false"
        infinite-scroll-disabled="noMoreResultsPresent" class="registraition-search-results-container">
        <table class="table">
            <thead>
                <tr>
                    <th><strong>{{ ::'REGISTRATION_LABEL_ID' | translate}}</strong></th>
                    <th ng-repeat="type in ::extraIdentifierTypes track by $index"><strong>{{type.name}}</strong></th>
                    <th><strong>{{ ::'REGISTRATION_LABEL_NAME' | translate}}</strong></th>
                    <th ng-repeat="field in ::personSearchResultsConfig.fields track by $index">
                        <strong>{{::convertToTableHeader(field)}}</strong>
                    </th>
                    <th><strong>{{ ::'REGISTRATION_LABEL_GENDER' | translate}}</strong></th>
                    <th><strong>{{ ::'REGISTRATION_LABEL_AGE' | translate}}</strong></th>
                    <th ng-repeat="field in ::addressSearchResultsConfig.fields">
                        <strong>{{::convertToTableHeader(getAddressColumnName(field))}}</strong>
                    </th>
                    <th><strong>{{ ::'REGISTRATION_LABEL_REGISTRATION_DATE' | translate}}</strong></th>
                    <th ng-if="::programAttributesSearchConfig.show">
                        <strong>{{::convertToTableHeader(programAttributesSearchConfig.label)}}</strong>
                    </th>
                    <th>
                        <strong>Last Visit Date</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in results">
                    <td>
                        <a tabindex="{{ :: 8 + $index + 1 }}" ng-if="::(searchActions.length > 0)"
                            ng-click="forPatient(result).doExtensionAction(searchActions[0])">
                            {{::result.identifier || 'Not Assigned'}}
                        </a>
                    </td>
                    <td ng-repeat="type in ::extraIdentifierTypes track by $index">
                        {{::result.extraIdentifiers[type.name]}}
                    </td>

                    <td>{{::result.givenName}} {{::result.middleName}} {{::result.familyName}}</td>
                    <td ng-repeat="field in ::personSearchResultsConfig.fields track by $index">
                        {{::result.customAttribute[field] || "" | bahmniDateInStrictMode}}</td>
                    <td>{{::result.gender}}</td>
                    <td>{{::result.age}}</td>
                    <td ng-repeat="field in ::addressSearchResultsConfig.fields">{{::result.addressFieldValue[field] ||
                        ""}}</td>
                    <td>{{::result.dateCreated | bahmniDate}}</td>
                    <td ng-if="::programAttributesSearchConfig.show">{{getProgramAttributeValues(result) |
                        bahmniDateInStrictMode}}</td>
                    <td ng-click="searchVisitDate(result)">
                        <span ng-if="result.visitStartDateTime">{{ result.visitStartDateTime | bahmniDate }}</span>
                        <span ng-if="!result.visitStartDateTime"><button style="padding:2px;" ng-click="searchVisitDate(result)">See visit
                                date</button></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="nidPatient.length>0" class="registraition-search-results-container">
        <table class="table">
            <thead>
                <tr>
                    <th><strong>Health ID</strong></th>
                    <th><strong>Name</strong></th>
                    <th><strong>Phone no.</strong></th>
                    <th><strong>Gender</strong></th>
                    <th><strong>Date of Birth</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in nidPatient">
                    <td>
                        <a ng-click="hidRedirect(result)" href=""> {{result.hid}}</a>

                    </td>
                    <td>{{result.given_name}}</td>
                    <td>{{result.phone_number.number}}</td>
                    <td>{{result.gender==='F'? 'Female': result.gender==='M' ? 'Male' : "Other"}}</td>
                    <td>{{result.date_of_birth | bahmniDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="loader" ng-show="loadingMoreResults()"></div>

    <div class="note-container no-more-results" ng-if="noMoreResultsPresent">
        <div class="note warning">
            <div class="text">
                <p>{{ ::'REGISTRATION_LABEL_NO_RESULTS' | translate}}</p>
            </div>
        </div>
    </div>
</section>