<div class="opd-header-wrapper">
    <div class="opd-header-top">
        <header>
            <bm-back-links></bm-back-links>
            <div class="fr">
                <div class="retro-date-widget-wrapper"
                     show-if-privilege="{{retrospectivePrivilege}},{{onBehalfOfPrivilege}},{{locationPickerPrivilege}}"
                     ng-if="getTitle()">
                    <div class="retro-date-widget-header fr">
                        <button ng-click="popUpHandler()">{{ getTitle() | translate }}</button>
                    </div>
                </div>
            </div>
            <div ui-view="additional-header"></div>
        </header>
        <div style="text-align:center;position: relative;bottom: 30px;color:white;">
            <p><b>{{hospitalName}}</b></p>
        </div>
    </div>
</div>
